@import "tailwindcss";

@theme {
  --color-primary: #aec8a4;
  --color-btn-accent: #27391c;
  --color-btn-txt: #d2d0a0;
}

.ico {
  @apply h-6 w-6 cursor-pointer;
}

.buttons {
  @apply bg-btn-accent text-btn-txt;
}

.filters {
  @apply bg-gray-600 text-slate-200 border-2 border-white/10 w-28 rounded-md px-2 py-1;
}
